[Unit]
Description=node.js seqencial task executor 
After=network-online.target

[Service]
Type=simple
DynamicUser=yes

WorkingDirectory=/usr/libexec/node-seqexec
ExecStart=/usr/bin/node /usr/libexec/node-seqexec/seqtask.js 

# 今 pidfile は無いので、これは要らない。
# Systemd は ExecStart で作成したプロセスを覚えてるのでそのまま止めてくれる
#ExecStop=/usr/bin/pkill -e node

# Restart=always
# RestartSec=2
SyslogIdentifier=node-seqexec

PrivateTmp=yes
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
